# A Single Neuron

Reference: https://www.kaggle.com/code/ryanholbrook/a-single-neuron

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

Lets test with a dataset.

In [9]:
df = sns.load_dataset('iris')
print(df.shape)
df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df['species'] = labelencoder.fit_transform(df['species'])
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

So, species will be the `target` and the other columns will be the `variables`.

In [14]:
from tensorflow import keras
from tensorflow.keras import layers

# Create a network with 1 linear unit (output) and 3 variables in the input
# Creates a neural network as a stack of layers
model = keras.Sequential([
    layers.Dense(units=1, input_shape=[4])
])

Usually we'll have `input_shape=[num_coumns]` because we work with tabular data (Pandas Dataframe).

We can have a look at the `weights` of the model:

In [15]:
model.weights

[<tf.Variable 'dense_1/kernel:0' shape=(4, 1) dtype=float32, numpy=
 array([[ 1.0593972 ],
        [ 1.0368285 ],
        [-1.0847095 ],
        [-0.92575073]], dtype=float32)>,
 <tf.Variable 'dense_1/bias:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>]

Lets look at the prediction

In [24]:
x = df.iloc[:, :4].values
y = df.iloc[:,4:].values

x.shape, y.shape

((150, 4), (150, 1))

In [25]:
y_pred = model.predict(x)

In [26]:
from sklearn.metrics import accuracy_score

accuracy_score(y, y_pred)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets